@import 'common/style/variable.scss';
@import 'common/style/common.scss';

.facebookSelectPage {
  width: 100vw;
  height: 100vh;
  @include center();
  background: $backgroundColor;
  padding: 50px;

  .contentContainer {
    @include center();
    @include borderCard();
    padding: 25px;
    width: 100%;
    flex-direction: column;

    .profileImage {
      > img {
        width: 100px;
        border-radius: 50%;
      }
    }

    .pageContainer {
      @include borderCard();
      box-shadow: none;
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      margin: 10px 0px;
      padding: 0px 30px 0px 0px;
      border: 2px solid #e7f0ef;
      transition: 0.5s;

      &:hover {
        background-color: whitesmoke;
        .pageName {
        }
      }

      .pageImage {
        padding: 10px;

        > img {
          display: block;
          margin: auto;
          width: 100px;
          height: 100px;
          object-fit: contain;
          background-color: white;
          border-radius: 6px;
        }
      }

      .pageName {
        font-weight: 700;
        font-size: 18px;
      }
    }

    .title {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      @include titleText();
    }

    .subTitle {
      display: flex;
      justify-content: center;
      @include subText();
    }
  }
}
